- DOMAIN-SUFFIX,3gpp.org,Proxy
- DOMAIN-SUFFIX,ptcrb.com,Proxy
- DOMAIN-SUFFIX,globalcertificationforum.org,Proxy
- DOMAIN-SUFFIX,etsi.org,Proxy
- DOMAIN-SUFFIX,gsma.com,Proxy
- DOMAIN-SUFFIX,ctia.org,Proxy
- DOMAIN-SUFFIX,omaspecworks.org,Proxy
- DOMAIN-SUFFIX,openmobilealliance.org,Proxy
- DOMAIN-SUFFIX,rohde-schwarz.com,Proxy
- DOMAIN-SUFFIX,certify.ctiacertification.org,Proxy
- DOMAIN-SUFFIX,www.sqimway.com,Proxy
- DOMAIN-SUFFIX,beacons4.gvt2.com,Proxy
- DOMAIN-SUFFIX,gta.motorola.com,Proxy
- DOMAIN-SUFFIX,galvin.motorola.com,Proxy
- DOMAIN-SUFFIX,storage.googleapis.com,Proxy
- DOMAIN-SUFFIX,googleblog.com,Proxy
- DOMAIN-SUFFIX,kaiju.motorola.com,Proxy
- DOMAIN-SUFFIX,weylandauto.appspot.com,Proxy
- DOMAIN-SUFFIX,gisele.motorola.com,Proxy
