- DOMAIN-SUFFIX,3gpp.org,Proxy
- DOMAIN-SUFFIX,ptcrb.com,Proxy
- DOMAIN-SUFFIX,globalcertificationforum.org,Proxy
- DOMAIN-SUFFIX,etsi.org,Proxy
- DOMAIN-SUFFIX,gsma.com,Proxy
- DOMAIN-SUFFIX,ctia.org,Proxy
- DOMAIN-SUFFIX,omaspecworks.org,Proxy
- DOMAIN-SUFFIX,openmobilealliance.org,Proxy
- DOMAIN-SUFFIX,rohde-schwarz.com,Proxy
- DOMAIN-SUFFIX,certify.ctiacertification.org,Proxy
- DOMAIN-SUFFIX,www.sqimway.com,Proxy
